.Chat {
    flex: 1 0 0px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 0px;

    & .Chat-box {
        flex: 1 0 0px;
        margin-bottom: 15px;
        background-color: #555;
        padding: 5px;
        color: #FFF;
        box-shadow: 0px 0px 10px #000C;
        overflow-y: auto;

        & .Chat-chat-outer {
            & .Chat-from {
                font-style: italic;
                display: inline;
                margin-right: 5px;
                color: #DDD;
            }

            & .Chat-chat {
                display: inline;
            }
        }
    }

    & .Chat-stamp {
        flex: 0 0 auto;
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        & button {
            background-color: #555;
            color: #FFF;
            cursor: pointer;
            border: 0px;
            flex: 1 0 0;
            box-shadow: 0px 0px 10px #000C;
            outline: none;
            height: 28px;
        }
    }

    & .Chat-bar {
        flex: 0 0 auto;
        display: flex;
        & input {
            flex: 1 0 0px;
            margin-right: 15px;
            border: 0px;
            padding: 5px;
            font-size: 14px;
            outline: none;
            box-shadow: 0px 0px 10px #000C;
            background-color: #555;
            color: #FFF;
        }
        & button {
            background-color: #555;
            color: #FFF;
            cursor: pointer;
            border: 0px;
            flex: 0 0 auto;
            box-shadow: 0px 0px 10px #000C;
            outline: none;
        }
    }
}
