.Controls {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0px;;

    & .Controls-control {
        margin-top: 15px;
        width: 100%;
        display: flex;
        gap: 15px;

        &.Controls-justbutton button {
          line-height: 25px;
        }

        &.Controls-control-hide {
            display: none;
        }

        & .Controls-hideButton {
          width: 25px;
        }

        & div {
            text-align: center;
            flex: 1 0 0px;
            border: 0px;
            padding: 3px 5px;
            padding-top: 2px;
            cursor: default;
            box-shadow: 0px 0px 10px #000C;
            background-color: #555;
            color: #FFF;
        }

        & input {
            flex: 1 0 0px;
            border: 0px;
            padding: 5px;
            font-size: 14px;
            outline: none;
            box-shadow: 0px 0px 10px #000C;
            background-color: #555;
            color: #FFF;
        }
        & textarea {
            flex: 1 0 0px;
            resize: none;
            height: 51px;
            border: 0px;
            padding: 5px;
            font-size: 14px;
            outline: none;
            box-shadow: 0px 0px 10px #000C;
            background-color: #555;
            color: #FFF;
        }
        & button {
            background-color: #555;
            color: #FFF;
            cursor: pointer;
            border: 0px;
            flex: 0 0 auto;
            box-shadow: 0px 0px 10px #000C;
            outline: none;

        }

        & .Controls-green {
            background-color: #338833;
        }

        &.Controls-buttons {
            gap: 15px;

            & button {
                flex: 1 0 0px;
                height: 28px;
            }
        }
    }
}
