.Video {
    flex: 1 0 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & .Video-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 1 auto;
        max-height: calc(100% - 30px);
        margin: 15px;
        text-align: center;
        background-color: #000;

        &.Video-hide {
            & .Video-overlay {
                opacity: 0;
                
                & .Video-play, & .Video-fullscreen, & .Video-audio, & .Video-scrubber {
                    pointer-events: none;
                }
            }
        }

        & .Video-video {
            display: block;
            outline: none;
            max-width: 100%;
            max-height: 100%;
            box-shadow: 0px 0px 10px #000C;
        }

        & .Video-overlay {
            pointer-events: none;
            user-select: none;
            opacity: 1;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            transition: opacity 0.25s;

            & .Video-play, & .Video-fullscreen, & .Video-audio, & .Video-scrubber, & .Video-audio-scrubber {
                pointer-events: all;

                & .Video-hide-icon {
                    pointer-events: none;
                }
            }

            & .Video-play, & .Video-fullscreen, & .Video-audio {
                position: absolute;
                bottom: 7px;
                width: 20px;
                height: 20px;
                border-radius: 5px;
                background-color: #FFFFFFD8; //math!
                box-shadow: 0px 0px 10px #000;
                cursor: pointer;
                text-align: center;
                line-height: 20px;
                font-size: 14px;
            }

            & .Video-time-through, & .Video-time-total {
                position: absolute;
                color: #FFF;
                font-size: 14px;
                bottom: 12px;
                text-shadow: 0px 0px 10px #000;
            }

            & .Video-time-through {
                left: 30px;
            }

            & .Video-time-total {
                right: 55px;
            }

            & .Video-play {
                left: 5px;
            }

            & .Video-fullscreen {
                right: 5px;
            }

            & .Video-scrubber {
                position: absolute;
                bottom: 0px;
                left: 30px;
                right: 55px;
                height: 27px;
                cursor: pointer;

                transition: 0.05s;

                &:hover {
                    & .Video-scrubber-time {
                        opacity: 1;
                    }
                }

                & .Video-scrubber-bg {
                    position: absolute;
                    height: 4px;
                    bottom: 8px;
                    left: 0px;
                    right: 0px;
                    background-color: #FFF6;
                    box-shadow: 0px 0px 10px #000;
                    border-radius: 2px;
                }

                & .Video-scrubber-bar {
                    position: absolute;
                    height: 4px;
                    bottom: 8px;
                    left: 0px;
                    background-color: #FFFC;
                    border-radius: 2px;
                }

                & .Video-scrubber-time {
                    opacity: 0;
                    transition: opacity 0.25s;
                    pointer-events: none;
                    position: absolute;
                    left: 0px;
                    top: -15px;
                    background-color: #FFF;
                    padding: 0px 5px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 10px #000A;
                }
            }

            & .Video-audio {
                right: 30px;

                &:hover {
                    & .Video-audio-scrubber {
                        pointer-events: all;
                        opacity: 1;
                    }
                }

                & .Video-audio-scrubber {
                    pointer-events: none;
                    opacity: 0;
                    position: absolute;
                    bottom: 20px;
                    height: 80px;
                    right: -5px;
                    width: 30px;
                    cursor: pointer;
    
                    transition: 0.05s;
    
                    & .Video-audio-scrubber-bg {
                        position: absolute;
                        height: 80px;
                        bottom: 0px;
                        left: 13px;
                        width: 4px;
                        background-color: #FFF6;
                        box-shadow: 0px 0px 10px #000;
                        border-radius: 2px;
                    }
    
                    & .Video-audio-scrubber-bar {
                        position: absolute;
                        height: 40px;
                        bottom: 0px;
                        left: 13px;
                        width: 4px;
                        background-color: #FFFC;
                        border-radius: 2px;
                    }
                }
            }
        }
    }   
}